.profileImg {
  width: 200px;
  border-radius: 16px;
}

.skillStackContainer {

  div {

    img {
      width: 32px;
    }
  }

  @media(max-width: 576px) {
    width: 80% !important;
  }

}

.skillImgContainer {
  // box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, .1);
  width: 150px;
  padding: 10px 8px;
  border-radius: 16px;

  h5 {
    margin-bottom: 0;
  }
}

.shadow-light {
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}
