<div id="skillStack" [ngClass]="bgService.light ? 'bg-light':'bg-dark'" class="d-flex flex-column align-items-center pt-5">
  <h3 [ngClass]="bgService.light ? 'text-dark': 'text-light'" class="text-center mb-5">{{'skillstack' | translate}}</h3>
  <div class="skillStackContainer w-75 d-flex justify-content-center flex-wrap">
    <ng-container *ngTemplateOutlet="skillStackImgs"></ng-container>
  </div>
</div>

<ng-template #skillStackImgs>
  <div *ngFor="let skill of skillStack; let i = index;"
    [ngClass]="!bgService.light ? 'bg-light shadow-light' : 'shadow'"
    class="skillImgContainer d-flex align-items-center m-3"
    [attr.data-aos]="isEven(i) ? 'flip-right' : 'flip-left'"
    >
    <!--
      [attr.data-aos]="skill.animation"
      [attr.data-aos-delay]="defaultDelay"
      [attr.data-aos-anchor-placement]="defaultAnchorPlacement"
      [attr.data-aos-offset]="defaultOffset" -->
    <div class="skillImgBox me-1">
      <img src="{{skill.url}}">
    </div>
    <div class="skillText text-start">
      <h5>{{skill.name}}</h5>
    </div>
  </div>
</ng-template>
