.profileImg {
  width: 200px;
  border-radius: 16px;
}

.skillStackContainer {

  div {
    width: 120px;

    img {
      width: 64px;
    }
  }

}

.skillImgContainer {
  // box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, .1);
  border-radius: 16px;
}

.shadow-light {
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}
