@import "src/app/shared/scss/colors.scss";
@import "src/app/shared/scss/sizes.scss";
@import "src/app/shared/scss/fonts.scss";

.profileImg {
  width: 200px;
  border-radius: $imgBorderRadius;
}

.aboutBox {
  max-width: 400px;
  font-family: 'Aladin'
}
