<footer>
  <nav class="navbar bg-dark text-light">
    <div class="container-fluid">
      <span>&copy; {{ 'imprint.firstname' | translate }} {{ 'imprint.lastname' | translate }} {{ year | date:'YYYY'
        }}</span>
      <div>
        <span class="mx-2" type="button" (click)="setToLang(languages.DE)">{{languages.DE | uppercase}}</span>
        <span class="mx-2" type="button" (click)="setToLang(languages.ENG)">{{languages.ENG | uppercase}}</span>
        <span class="mx-2" type="button" (click)="setToLang(languages.TR)">{{languages.TR | uppercase}}</span>
      </div>
      <div>
        <a class="link-light text-decoration-none mx-2" (click)="matrixService.clearCanvas()"
          routerLink="/imprint">{{'imprint.imprint' | translate }}</a>
        <a class="link-light text-decoration-none mx-2" (click)="matrixService.clearCanvas()"
          routerLink="/privacy">{{'privacy.privacypolicytitle' | translate | titlecase}}</a>
      </div>
    </div>
  </nav>
</footer>
