<div class="">
  <h3 class="">{{'skillstack' | translate}}</h3>
  <div class="skillStackContainer">
    <ng-container *ngTemplateOutlet="skillStackImgs"></ng-container>
  </div>
</div>

<ng-template #skillStackImgs>
  <div *ngFor="let skill of skillStack" class="skillImgContainer" data-aos="fade-left"
    [attr.data-aos-offset]="skillsOffset">
    <div class="skillImgBox">
      <img src="{{skill.url}}">
    </div>
    <div class="skillText">
      <h5>{{skill.name}}</h5>
      <p>{{skill.rate}}/10 &#9733;</p>
    </div>
  </div>
</ng-template>
