<div class="container">
  <h3 class="text-center">{{'skillstack' | translate}}</h3>
  <div class="skillStackContainer d-inline-flex flex-wrap justify-content-center">
    <ng-container *ngTemplateOutlet="skillStackImgs"></ng-container>
  </div>
</div>

<ng-template #skillStackImgs>
  <div *ngFor="let skill of skillStack" class="skillImgContainer m-3" data-aos="fade-left"
    [attr.data-aos-offset]="skillsOffset">
    <div class="skillImgBox d-inline-flex justify-content-center">
      <img src="{{skill.url}}">
    </div>
    <div class="skillText text-center">
      <h5>{{skill.name}}</h5>
      <p>{{skill.rate}}/10 &#9733;</p>
    </div>
  </div>
</ng-template>
