<div class="container">
  <h1>{{ 'privacy.privacypolicytitle' | translate | titlecase }}</h1>
  <h2 id="m14">{{ "privacy.introduction.introduction" | translate | titlecase }}</h2>
  <p>{{ "privacy.introduction.introductiontext" | translate }}</p>
  <p>{{ "privacy.introduction.gender" | translate }}</p>
  <p>{{ "privacy.introduction.createdat" | translate }}</p>
  <h2>{{ "privacy.contentoverview.contentoverview" | translate }}</h2>
  <ul class="index">
    <li>
      <a class="index-link" href="#m14">{{ "privacy.contentoverview.introduction" | translate }}</a>
    </li>
    <li>
      <a class="index-link" href="#m3">{{ "privacy.contentoverview.personincharge" | translate }}</a>
    </li>
    <li>
      <a class="index-link" href="#mOverview">{{ "privacy.contentoverview.personincharge" | translate }}</a>
    </li>
    <li>
      <a class="index-link" href="#m13">{{ "privacy.contentoverview.legalbases" | translate }}</a>
    </li>
    <li>
      <a class="index-link" href="#m27">{{ "privacy.contentoverview.safetymeasures" | translate }}</a>
    </li>
    <li>
      <a class="index-link" href="#m225">{{ "privacy.contentoverview.provision" | translate }}</a>
    </li>
    <li>
      <a class="index-link" href="#m182">{{ "privacy.contentoverview.contanctrequest" | translate }}</a>
    </li>
    <li>
      <a class="index-link" href="#m328">{{ "privacy.contentoverview.plugins" | translate }}</a>
    </li>
    <li>
      <a class="index-link" href="#m42">{{ "privacy.contentoverview.definitions" | translate }}</a>
    </li>
  </ul>
  <h2 id="m3">{{ "privacy.contentoverview.personincharge" | translate }}</h2>
  <p>{{ "imprint.firstname" | translate}} {{ "imprint.lastname" | translate }}<br>{{ "imprint.street" |
    translate}}<br>{{"imprint.zip" | translate}} {{"imprint.city" | translate}} {{"imprint.country" | translate}}</p>
  {{"imprint.email" | translate}} <p><a href="mailto:mustafaguer@yahoo.de">{{"imprint.myemail" | translate}}</a></p>
  {{"imprint.imprint" | translate}} <p><a href="{{'imprint.imprintlink' | translate}}"
      target="_blank">{{"imprint.imprintlink" | translate}}</a>
  </p>
  <h2 id="mOverview">{{"privacy.contentoverview.contentoverview" | translate}}</h2>
  <p>{{"privacy.processingoverview.processingtext" | translate}}</p>
  <h3>{{"privacy.processingoverview.typesofdataprocessed.typesofdataprocessed" | translate}}</h3>
  <ul>
    <li>{{"privacy.processingoverview.typesofdataprocessed.contactdetails" | translate}}</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.contentdata" | translate}}</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.usagedata" | translate}}</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.metadata" | translate}}</li>
  </ul>
  <h3>{{"privacy.processingoverview.typesofdataprocessed.concernedcategories.concernedcategories" | translate}}</h3>
  <ul>
    <li>{{"privacy.processingoverview.typesofdataprocessed.concernedcategories.communicationpartner" | translate}}</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.concernedcategories.users" | translate}}</li>
  </ul>
  <h3>{{"privacy.processingoverview.typesofdataprocessed.processingpurpose.processingpurpose" | translate}}</h3>
  <ul>
    <li>{{"privacy.processingoverview.typesofdataprocessed.processingpurpose.service" | translate}}</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.processingpurpose.contact" | translate}}</li>
    <li>{{"privacy.contentoverview.safetymeasures" | translate}}.</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.processingpurpose.responding" | translate}}</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.processingpurpose.feedback" | translate}}</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.processingpurpose.userfriendliness" | translate}}</li>
    <li>{{"privacy.processingoverview.typesofdataprocessed.processingpurpose.infrastructure" | translate}}</li>
  </ul>
  <h3 id="m13">{{"privacy.contentoverview.legalbases" | translate}}</h3>
  <p>{{"privacy.legalbases.legalbasestefirsttext" | translate}}</p>
  <ul>
    <li>
      <strong>{{"privacy.legalbases.legalbaseslifirststrong" | translate}}</strong>
      {{"privacy.legalbases.legalbaseslifirst" | translate}}
    </li>
    <li>
      <strong>{{"privacy.legalbases.legalbaseslisecondstrong" | translate}}</strong>
      {{"privacy.legalbases.legalbaseslisecond" | translate}}
    </li>
  </ul>
  <p>{{"privacy.legalbases.legalbasestextsecond" | translate}}</p>
  <h2 id="m27">{{"privacy.contentoverview.safetymeasures" | translate}}</h2>
  <p>{{"privacy.safetymeasures.safetymeasuresfirsttext" | translate}}</p>
  <p>{{"privacy.safetymeasures.safetymeasuressecondtext" | translate}}</p>
  <p>{{"privacy.safetymeasures.safetymeasuresthirdtext" | translate}}</p>
  <h2 id="m225">{{"privacy.contentoverview.provision" | translate}}</h2>
  <p>{{"privacy.provision.provisiontext" | translate}}</p>
  <ul class="m-elements">
    <li>
      <strong>{{"privacy.redundant.processeddata" | translate}}</strong> {{"privacy.provision.provisionlifirst" |
      translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.affectedpersons" | translate}}</strong> {{"privacy.provision.provisionlisecond" |
      translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.purposeprocessing" | translate}}</strong> {{"privacy.provision.provisionlithird" |
      translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.legalbase" | translate}}</strong> {{"privacy.legals.dot" | translate}}
    </li>
  </ul>
  <p>
    <strong>{{"privacy.redundant.furtherprocessing" | translate}}</strong>
  </p>
  <ul class="m-elements">
    <li>
      <strong>{{"privacy.provision.provisionlififthstrong" | translate}} </strong>{{"privacy.provision.provisionlififth"
      | translate}} <strong>
        {{"privacy.redundant.legalbase" | translate}}</strong> {{"privacy.provision.provisionlifourth" | translate}}
    </li>
    <li>
      <strong>{{"privacy.provision.provisionlisixtstrong" | translate}}
      </strong>{{"privacy.provision.provisionlisixt" | translate}} <strong>{{"privacy.redundant.legalbase" |
        translate}}</strong>
      {{"privacy.legals.semi" | translate}}
      <strong>{{"privacy.redundant.deletiondata" | translate}}</strong>
      {{"privacy.provision.provisionlieight" | translate}}
    </li>
    <li>
      <strong>{{"privacy.provision.provisionlininthstrong" | translate | uppercase}}
      </strong>{{"privacy.provision.provisionlininth" | translate}} <strong>{{"privacy.redundant.serviceprovider" |
        translate}}</strong>
      {{"privacy.provision.provisionlitenth" | translate}} <strong>{{"privacy.redundant.legalbase" |
        translate}}</strong> {{"privacy.legals.semi" | translate}}
      <strong>{{"privacy.redundant.website" | translate}}</strong>
      <a href="{{'privacy.links.allinkl' | translate}}" target="_blank">{{"privacy.links.allinkl" | translate}}</a>;
      <strong>{{"privacy.redundant.privacypolicy" | translate}}</strong>
      <a href="{{'privacy.links.allinklprivacy' | translate}}" target="_blank">{{"privacy.links.allinklprivacy" |
        translate}}</a>;
      <strong>{{"privacy.provision.provisionlifourteenthStrong" | translate}}</strong>
      {{"privacy.provision.provisionlifourteenth" | translate}}
    </li>
  </ul>
  <h2 id="m182">{{"privacy.contentoverview.contactrequest" | translate}}</h2>
  <p>
    {{"privacy.contactrequest.contactrequesttextfirst" | translate}}
  </p>
  <p>
    {{"privacy.contactrequest.contactrequesttextsecond" | translate}}
  </p>
  <ul class="m-elements">
    <li>
      <strong>{{"privacy.redundant.processeddata" | translate}}</strong>
      {{"privacy.contactrequest.contactrequestlifirst" | translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.affectedpersons" | translate}}</strong>
      {{"privacy.contactrequest.contactrequestlisecond" | translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.purposeprocessing" | translate}}</strong>
      {{"privacy.contactrequest.contactrequestlithird" | translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.legalbase" | translate}}</strong> {{"privacy.contactrequest.contactrequestliffourth"
      | translate}}
    </li>
  </ul>
  <p><strong>{{"privacy.redundant.furtherprocessing" | translate}}</strong></p>
  <ul class="m-elements">
    <li>
      <strong>{{"privacy.redundant.contactform" | translate}} </strong>{{"privacy.contactrequest.contactrequestlififth"
      | translate}}
      <strong>{{"privacy.redundant.legalbase" | translate}}</strong> {{"privacy.contactrequest.contactrequestlisixt" |
      translate}}
    </li>
  </ul>
  <h2 id="m328">{{"privacy.contentoverview.plugins" | translate}}</h2>
  <p>
    {{"privacy.plugins.pluginsfirsttext" | translate}}
  </p>
  <p>
    {{"privacy.plugins.pluginssecondtext" | translate}}
  </p>
  <ul class="m-elements">
    <li>
      <strong>{{"privacy.redundant.processeddata" | translate}}</strong> {{"privacy.plugins.pluginsliffirst" |
      translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.affectedpersons" | translate}}</strong> {{"privacy.plugins.pluginslisecond" |
      translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.purposeprocessing" | translate}}</strong> {{"privacy.plugins.pluginslithird" |
      translate}}
    </li>
    <li>
      <strong>{{"privacy.redundant.legalbase" | translate}}</strong> {{"privacy.legals.dot" | translate}}
    </li>
  </ul>
  <p>
    <strong>{{"privacy.redundant.furtherprocessing" | translate}}</strong>
  </p>
  <ul class="m-elements">
    <li>
      <strong>{{"privacy.plugins.pluginslififthstrong" | translate}} </strong>{{"privacy.plugins.pluginslififth" |
      translate}}
      <strong>{{"privacy.redundant.legalbase" | translate}}</strong>
      {{"privacy.legals.dot" | translate}}
    </li>
    <li>
      <strong>{{"privacy.plugins.pluginsliseventhstrong" | translate}} </strong>{{"privacy.plugins.pluginsliseventh"}}
      <strong>{{"privacy.redundant.serviceprovider" | translate}}</strong>
      {{"privacy.plugins.pluginslieigth" | translate}}
      <strong>{{"privacy.redundant.legalbase" | translate}} </strong> {{"privacy.legals.semi" | translate}}
      <strong>{{"privacy.redundant.website" | translate}}</strong>
      <a href="{{'privacy.links.fontsgoogle' | translate}}" target="_blank">{{"privacy.links.fontsgoogle" |
        translate}}</a>;
      <strong>{{"privacy.redundant.privacypolicy" | translate}} </strong>
      <a href="{{'privacy.links.googlepolicies' | translate}}" target="_blank">{{"privacy.links.googlepolicies" |
        translate}}</a>.
    </li>
    <li>
      <strong>{{"privacy.plugins.pluginslitwelthstrong" | translate}} </strong>
      {{"privacy.plugins.pluginslitwelth" | translate}}
      <strong>{{"privacy.redundant.serviceprovider" | translate}}</strong>
      {{"privacy.plugins.pluginslithirteenth" | translate}} <strong>{{"privacy.redundant.legalbase" |
        translate}}</strong>
      {{"privacy.legals.dot" | translate}}
    </li>
  </ul>
  <h2 id="m42">{{"privacy.contentoverview.definitions" | translate}}</h2>
  <p>
    {{"privacy.definitions.definitionsfirsttext" | translate}}
  </p>
  <ul class="glossary">
    <li>
      <strong>{{"privacy.definitions.definitionslifirststrong" |
        translate}}</strong>{{"privacy.definitions.definitionslifirst" | translate}}
    </li>
    <li>
      <strong>{{"privacy.contentoverview.personincharge" | translate}}</strong>
      {{"privacy.definitions.definitionslisecond" | translate}}
    </li>
    <li>
      <strong>{{"privacy.definitions.definitionslithirdstrong" | translate}}</strong>
      {{"privacy.definitions.definitionslithird" | translate}}
    </li>
  </ul>
  <p class="seal">
    <a href="https://datenschutz-generator.de/"
      title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
      rel="noopener noreferrer nofollow">
      <img src="https://datenschutz-generator.de/wp-content/plugins/ts-dsg/images/dsg-seal/dsg-seal-pp-de.png"
        alt="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." width="250" height="250">
    </a>
  </p>
</div>
