$scrollbarBorderRadius: 20px;
$scrollbarWidth: 8px;
$formWidth: 500px;
$formPadding: 32px;
$boxShadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.1);
$borderRadius: 20px;
$littleBorderRadius: 10px;
$imgBorderRadius: 16px;
$footerHeight: 80px;
$headerHeight: 56px;

