.container {
  padding-right: 160px;
  padding-left: 160px;
}

.bg-dark {
  background-color: $darkbackground;
  transition: background-color 225ms ease-in-out;
}

.bg-light {
  background-color: $lightbackground;
  transition: background-color 225ms ease-in-out;
}

.cursor {
  cursor: pointer;
}
