.bg-dark {
  background-color: $darkbackground;
  transition: background-color 225ms ease-in-out;
}

.bg-light {
  background-color: $lightbackground;
  transition: background-color 225ms ease-in-out;
}

.cursor {
  cursor: pointer;
}

.shadow-light {
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

