@import "src/app/shared/scss/colors.scss";
@import "src/app/shared/scss/sizes.scss";

.nav-bar {
  display: inline-flex;
}

.hamburger-inner,
.hamburger-inner.hamburger-inner-light {
  background-color: rgb(248, 249, 250) !important;
  &::after {
    background-color: rgb(248, 249, 250) !important;
  }

  &::before {
    background-color: rgb(248, 249, 250) !important;
  }
}

.hamburger-inner,
.hamburger-inner.hamburger-inner-dark {
  background-color: rgb(33, 37, 41) !important;
  &::after {
    background-color: rgb(33, 37, 41) !important;
  }

  &::before {
    background-color: rgb(33, 37, 41) !important;
  }
}

.bgButton {
  img {
    width: 36px;
    height: 36px;
  }
}

.nav {
  z-index: 10;
}
