<div class="box pt-5 pb-5">

  <div class="container pt-5 pb-5">
    <div class="row pt-5 pb-5">
      <div class="col">
        <div class="card card-box">
          <img src="../../../assets/img/mustafa.jpg" alt="Profile Image">
          <div class="card-body">
            <h5 class="card-title text-center">
              ${{'whoami' | translate}}
            </h5>
            <p class="card-text text-center">{{'about' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

</div>
