@import 'src/app/shared/scss/colors.scss';

.box {
  background: $lightbackground;
}

.profileImg {
  width: 200px;
  border-radius: 16px;
}

.skillStackContainer {

  div {
    width: 160px;

    img {
      width: 64px;
    }
  }

}
