<div [ngClass]="bgService.light ? 'bg-light' : 'bg-dark'" class="box">
  <div class="">
    <div class="">
      <div class="">
        <ng-container *ngTemplateOutlet="whoami"></ng-container>
      </div>
      <div class="">
        <h3>{{'skillstack' | translate}}</h3>
        <div class="skillStackContainer">
          <ng-container *ngTemplateOutlet="skillStackImgs"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #whoami>
    <h5 class="" data-aos="fade-right">${{'whoami' | translate}}</h5>
    <img class="profileImg" src="../../../assets/img/mustafa.jpg" alt="Profile Image" data-aos="fade-right">
    <p class="" data-aos="fade-right" data-aos-offset="500">{{'about' | translate}}</p>
</ng-template>

<ng-template #skillStackImgs>
  <div *ngFor="let skill of skillStack" class="skillImgContainer" data-aos="fade-left"
    [attr.data-aos-offset]="skillsOffset">
    <div class="skillImgBox">
      <img src="{{skill.url}}">
    </div>
    <div class="skillText">
      <h5>{{skill.name}}</h5>
      <p>{{skill.rate}}/10 &#9733;</p>
    </div>
  </div>
</ng-template>
