<footer>
  <nav class="navbar bg-dark text-light">
    <div class="container-fluid">
      <span>&copy; {{ 'imprint.firstName' | translate }} {{ 'imprint.lastName' | translate }} {{ year | date:'YYYY'
        }}</span>
      <div>
        <span class="mx-2" type="button" (click)="setToLang('de')">DE</span>
        <span class="mx-2" type="button" (click)="setToLang('en')">EN</span>
        <span class="mx-2" type="button" (click)="setToLang('tr')">TR</span>
      </div>
      <div>
        <a class="link-light text-decoration-none mx-2" routerLink="/imprint">{{ 'imprint.imprint' | translate }}</a>
        <a class="link-light text-decoration-none mx-2" routerLink="/privacy">Privacy Policy</a>
      </div>
    </div>
  </nav>
</footer>
