@import "src/app/shared/scss/colors.scss";
@import "src/app/shared/scss/sizes.scss";

.storyContainer {
  width: 300px;
  // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: $littleBorderRadius;

  img {
    width: 64px;
  }
}
