<header>
  <nav class="">
    <div class="">
      <a routerLink="/" class="">Home</a>
      <button class="" type="button"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>
      <div class="" id="navbarNavAltMarkup">
        <div class="">
          <!-- <a class="" aria-current="page" href="#">Skills</a> -->
          <!-- <a class="" href="#">Features</a> -->
          <!-- <a class="" href="#">Pricing</a> -->
        </div>
      </div>
    </div>
  </nav>
</header>
