@import 'src/app/shared/scss/colors.scss';
@import 'src/app/shared/scss/sizes.scss';

.nav-bar {
  display: inline-flex;
}

.form-select.open-select {
  // background-image: url('../../../../assets/img/icons/arrow-152-16.ico');
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

.lang-select {
  max-width: 80px;
}
