@import "src/app/shared/scss/colors.scss";
@import "src/app/shared/scss/sizes.scss";

.nav-bar {
  display: inline-flex;
}

.form-select {
  background-image: url("../../../../assets/icons/arrowDown.svg");
  transition: background-image 225ms ease;
}
.form-select.open-select {
  background-image: url("../../../../assets/icons/arrowUp.svg");
  transition: background-image 225ms ease;
}

.lang-select {
  max-width: 80px;
}

.hamburger-inner,
.hamburger-inner.hamburger-inner-light {
  background-color: rgb(248, 249, 250) !important;
  &::after {
    background-color: rgb(248, 249, 250) !important;
  }

  &::before {
    background-color: rgb(248, 249, 250) !important;
  }
}

.hamburger-inner,
.hamburger-inner.hamburger-inner-dark {
  background-color: rgb(33, 37, 41) !important;
  &::after {
    background-color: rgb(33, 37, 41) !important;
  }

  &::before {
    background-color: rgb(33, 37, 41) !important;
  }
}

.bgButton {
  img {
    width: 36px;
    height: 36px;
  }
}
