@import 'src/app/shared/scss/colors.scss';
@import 'src/app/shared/scss/sizes.scss';

.greetingArea {
  background: $black;
  width: calc(100vw - $scrollbarWidth * 2);
}
.headline {
  font-size: 3rem;
  white-space: pre-wrap;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: $red;

  @media (max-width: 576px) {
    font-size: 2.5rem;
  }
}

.imgBox {
  width: 450px;
  height: 450px;

  @media (max-width: 576px) {
    & {
      width: 200px;
      height: 200px;
    }
  }
}

.hacker {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  opacity: 0.85;
}

.pulser {
  animation: pillsPulser 1s infinite linear;

  &:hover {
    animation-play-state: paused;
  }

  @keyframes pillsPulser {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

.matrixButton {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.bluePill {
  animation: bluePillTranslate 750ms ease-in-out;

  img {
    width: 32px;
    height: 32px;
  }
  @keyframes bluePillTranslate {
    from {
      transform: translate(-20px, -25px);
    }
    to {
      transform: translate(0, 0);
    }
  }
}

.redPill {
  animation: redPillTranslate 750ms ease-in-out;

  @keyframes redPillTranslate {
    from {
      transform: translateY(-40px);
    }
    to {
      transform: translateY(0px);
    }
  }
}

.greenPill {
  animation: greenPillTranslate 750ms ease-in-out;

  @keyframes greenPillTranslate {
    from {
      transform: translate(20px, -25px);
    }
    to {
      transform: translate(0, 0);
    }
  }
}
.whoami {
  color: $red;
}

.arrowDown {
  width: 64px;
  animation: arrowUpAndDown 500ms infinite linear;

  &:hover {
    animation-play-state: paused;
  }

  @keyframes arrowUpAndDown {
    from {
      transform: translateY(-8px);
    }
    to {
      transform: translateY(0);
    }
  }
}
