<div class="position-relative" style="background: black">
  <canvas #myCanvas></canvas>

  <div class="container-fluid d-flex justify-content-center align-items-center greetingArea position-absolute top-0 bottom-0 right-0 left-0">
    <div class="text-center">
      <h1 class="headline" id="headline"></h1>
      <!-- <button class="btn btn-success" (click)="changeMatrixColor(matrixLetterColors.BOOTSTRAP)">{{matrixLetterColors.BOOTSTRAP | titlecase}}</button> -->
      <!-- <button class="btn btn-success" (click)="changeMatrixColor(matrixLetterColors.WARN)">{{matrixLetterColors.WARN | titlecase}}</button> -->
      <!-- <button class="btn btn-success" (click)="changeMatrixColor(matrixLetterColors.DEFAULT)">{{matrixLetterColors.DEFAULT | titlecase}}</button> -->
      <!-- <button class="btn btn-danger" (click)="changeActiveLang('tr')">TR</button> -->
      <!-- <button class="btn btn-danger" (click)="changeActiveLang('de')">DE</button> -->
      <!-- <button class="btn btn-danger" (click)="changeActiveLang('en')">ENG</button> -->
    </div>
  </div>
</div>



