<div class="greetingArea position-relative d-flex justify-content-center">
  
  <canvas #myCanvas></canvas>

  <div class="container-xl vw-100 position-absolute top-0 bottom-0 right-0 left-0">

    <div class="row justify-content-center align-content-center h-100 w-100 flex-column-reverse flex-sm-row">

      <div class="text-center col d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex">
            <div class="pulser me-2 ms-2">
              <img class="matrixButton bluePill cursor-pointer" role="button"
                (click)="changeMatrixColor(matrixLetterColors.BLUE)" src="../../../assets/icons/bluePill.png"
                alt="Blue Pill">
            </div>
            <div class="pulser me-2 ms-2">
              <img class="matrixButton redPill " role="button" (click)="changeMatrixColor(matrixLetterColors.RED)"
                src="../../../assets/icons/redPill.png" alt="Red Pill">
            </div>
            <div class="pulser me-2 ms-2">
              <img class="matrixButton greenPill" role="button" (click)="changeMatrixColor(matrixLetterColors.GREEN)"
                src="../../../assets/icons/greenPill.png" alt="Green Pill">
            </div>
          </div>
          <h1 class="headline" id="headline"></h1>
        </div>
        <div>
          <!-- <h3 class="whoami">$whoami</h3> -->
          <img class="arrowDown" role="button" src="../../../assets/icons/arrowDown.png" alt="Arrow Down">
        </div>
      </div>

      <div class="col d-flex justify-content-center align-items-center">
        <div class="imgBox">
          <img class="img-thumbnail hacker" src="../../../assets/img/hacker.jpg" />
        </div>
      </div>

    </div>

  </div>

</div>
