<div class="greetingArea position-relative d-flex justify-content-center">
  <canvas #myCanvas></canvas>
  <div class="container-xl vw-100 position-absolute top-0 bottom-0 right-0 left-0">

    <div class="row justify-content-center align-content-center h-100 w-100 flex-column-reverse flex-sm-row">

      <div class="text-center col d-flex align-items-center flex-column">
        <div class="d-flex">
          <div class="spinner">
            <button class="btn matrixButton bluePill ms-2 me-2" type="button" (click)="changeMatrixColor(matrixLetterColors.BLUE)"></button>
          </div>
          <div class="spinner">
            <button class="btn matrixButton redPill ms-2 me-2" type="button" (click)="changeMatrixColor(matrixLetterColors.RED)" ></button>
          </div>
          <div class="spinner">
            <button class="btn matrixButton greenPill ms-2 me-2" type="button"(click)="changeMatrixColor(matrixLetterColors.GREEN)"></button>
          </div>
        </div>
        <h1 class="headline" id="headline"></h1>
      </div>

      <div class="col d-flex justify-content-center align-items-center">
        <div class="imgBox">
            <img class="img-thumbnail hacker" src="../../../assets/img/mustafa.jpg" />
        </div>
      </div>

    </div>

  </div>

</div>
