<div class="">
  <form>
    <div class="">
      <label for="name" class="">{{'contactForm.name' | translate}}</label>
      <input type="text" class="" id="nameInput" placeholder="{{'contactForm.name' | translate}}">
    </div>
    <div class="">
      <label for="exampleFormControlInput1" class="">{{'contactForm.email' | translate}}</label>
      <input type="email" class="" id="exampleFormControlInput1"
        placeholder="{{'contactForm.emailplaceholder' | translate}}">
    </div>
    <div class="">
      <label for="exampleFormControlTextarea1" class="">{{'contactForm.message' | translate}}</label>
      <textarea class="" id="exampleFormControlTextarea1" rows="3"
        placeholder="{{'contactForm.messageplaceholder' | translate}}"></textarea>
    </div>
    <div class="">
      <button type="button" class="">{{'contactForm.send' | translate}}</button>
    </div>
  </form>
</div>
