<div class="greetingArea position-relative d-flex justify-content-center">

  <canvas #myCanvas></canvas>

  <div class="position-absolute top-0 bottom-0 right-0 left-0 d-flex align-items-center">

    <div class="container vw-100">
      <div class="row">
        <div class="d-flex vh-100 flex-column-reverse flex-md-row align-items-md-center">
          <div class="col">
            <div class="d-flex flex-column align-items-center">
              <ng-container *ngTemplateOutlet="pills"></ng-container>
              <h1 class="headline text-light text-center" id="headline"></h1>
            </div>
            <ng-container *ngTemplateOutlet="arrow"></ng-container>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <ng-container *ngTemplateOutlet="profleImg"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #pills>
  <div class="d-flex">
    <div class="pulser me-2 ms-2">
      <img class="matrixButton bluePill cursor-pointer" role="button"
        (click)="changeMatrixColor(matrixLetterColors.BLUE)" [src]="bluePill" alt="{{'bluepill' | translate}}">
    </div>
    <div class="pulser me-2 ms-2">
      <img class="matrixButton redPill " role="button" (click)="changeMatrixColor(matrixLetterColors.RED)"
        [src]="redPill" alt="{{'redpill' | translate}}">
    </div>
    <div class="pulser me-2 ms-2">
      <img class="matrixButton greenPill" role="button" (click)="changeMatrixColor(matrixLetterColors.GREEN)"
        [src]="greenPill" alt="{{'greenpill' | translate}}">
    </div>
  </div>
</ng-template>


<ng-template #arrow>
  <div class="d-none d-md-flex flex-column align-items-center">
    <h3 [ngClass]="matrixService.activeLetterColor == matrixLetterColors.GREEN ? 'whoamiGreen': '' ||
      matrixService.activeLetterColor == matrixLetterColors.RED ? 'whoamiRed':'' ||
      matrixService.activeLetterColor == matrixLetterColors.BLUE ? 'whoamiBlue':''" data-aos="fade-in"
      data-aos-offset="0">${{'whoami' | translate}}</h3>
    <img *ngIf="matrixService.activeLetterColor == matrixLetterColors.GREEN" data-aos="zoom-in" data-aos-offset="0"
      class="arrowDown" role="button" alt="Arrow Down" src="{{ greenArrow }}">
    <img *ngIf="matrixService.activeLetterColor == matrixLetterColors.RED" data-aos="zoom-in" class="arrowDown"
      data-aos-offset="0" role="button" alt="Arrow Down" src="{{ redArrow }}">
    <img *ngIf="matrixService.activeLetterColor == matrixLetterColors.BLUE" data-aos="zoom-in" class="arrowDown"
      data-aos-offset="0" role="button" alt="Arrow Down" src="{{ blueArrow }}">
  </div>
</ng-template>

<ng-template #profleImg>
  <div class="imgBox">
    <img class="img-thumbnail hacker" src="../../../assets/img/hacker.jpg" />
  </div>
</ng-template>
