<div class='imprint'>
  <h1>{{'imprint.imprint' | translate}}</h1>
  <p>{{'imprint.infoAccord' | translate}}</p>
  <p>
    {{'imprint.firstName' | translate}} {{'imprint.lastName' | translate}} <br>
    {{'imprint.street' | translate}}<br>
    {{'imprint.zip' | translate}} {{'imprint.city' | translate}} <br>
  </p>
  <p>
    <strong>{{'imprint.represendetBy' | translate}} </strong><br>
    {{'imprint.firstName' | translate}} {{'imprint.lastName' | translate}}<br>
  </p>
  <p>
    <strong>{{'imprint.contact' | translate}}</strong> <br>
    {{'imprint.phone' | translate}} {{'imprint.mustafaPhone' | translate}}<br>
    {{'imprint.email' | translate}}
    <a href='mailto:mustafaguer@yahoo.de'>{{'imprint.mustafaEmail' | translate}}</a>
  </p><br>
  <!-- Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a> -->
</div>
